package ${package.Service};

import ${package.Entity}.${entity};
import java.util.List;
import com.wg.hlink.dongfeng.exception.BusinessException;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} {
     /**
     * 获取$!{table.comment}所有信息
     * @param ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}
     */
    List<${entity}> selectListAll(${entity} ${entity.substring(0,1).toLowerCase()}${entity.substring(1)});

    /**
     * 通过id获取信息
     * @param id
    */
    List<${entity}> selectById(int id);

    /**
     * $!{table.comment}新增数据
     * @param ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}
     */
    void insert(${entity} ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}) throws BusinessException;

    /**
     * $!{table.comment}通过id更新数据
     * @param ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}
     */
    void updateById(${entity} ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}) throws BusinessException;

##    /**
##     * $!{table.comment} 保存数据
##     * @param ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}
##     */
##    void save(${entity} ${entity.substring(0,1).toLowerCase()}${entity.substring(1)}) throws BusinessException;

    /**
     * $!{table.comment}通过id删除数据
     * @param id
     */
    void deleteById(int id) throws BusinessException;

    /**
     * $!{table.comment}通过id批量删除数据
     * @param ids
     */
    void deleteByIds(String ids) throws BusinessException;

    /**
     * $!{table.comment} 批量新增数据
     * @param list
     */
    void saveForeach(List<${entity}> list) throws BusinessException;
}
#end
