<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.system.mapper.AuthorityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sg.system.domain.AuthorityDomain">
        <id column="AUTHORITY_ID" property="authorityId" />
        <result column="APP_ID" property="appId" />
        <result column="SERVICE_ID" property="serviceId" />
        <result column="TYPE" property="type" />
        <result column="CODE" property="code" />
        <result column="NAME" property="name" />
        <result column="CATEGORY" property="category" />
        <result column="ENTITY_NAME" property="entityName" />
        <result column="REQUEST_METHOD" property="requestMethod" />
        <result column="METHOD_NAME" property="methodName" />
        <result column="AUTH_CODE" property="authCode" />
        <result column="AUTH_URI" property="authUri" />
        <result column="PARENT_ID" property="parentId" />
        <result column="LEVEL_NO" property="levelNo" />
        <result column="SN" property="sn" />
        <result column="IS_AUDIT" property="isAudit" />
        <result column="IS_AUTH" property="isAuth" />
        <result column="IS_OPEN" property="isOpen" />
        <result column="STATUS" property="status" />
        <result column="MEMO" property="memo" />
        <result column="UDF1" property="udf1" />
        <result column="UDF2" property="udf2" />
        <result column="UDF3" property="udf3" />
        <result column="UDF4" property="udf4" />
        <result column="UDF5" property="udf5" />
        <result column="VERSION" property="version" />
        <result column="IS_ACTIVE" property="isActive" />
        <result column="CREATED_DATE" property="createdDate" />
        <result column="UPDATED_DATE" property="updatedDate" />
        <result column="CREATED_BY" property="createdBy" />
        <result column="UPDATED_BY" property="updatedBy" />
        <result column="DATA_ORG_ID" property="dataOrgId" />
        <result column="MAIN_ID" property="mainId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        AUTHORITY_ID, APP_ID, SERVICE_ID, TYPE, CODE, NAME, CATEGORY, ENTITY_NAME, REQUEST_METHOD, METHOD_NAME, AUTH_CODE, AUTH_URI, PARENT_ID, LEVEL_NO, SN, IS_AUDIT, IS_AUTH, IS_OPEN, STATUS, MEMO, UDF1, UDF2, UDF3, UDF4, UDF5, VERSION, IS_ACTIVE, CREATED_DATE, UPDATED_DATE, CREATED_BY, UPDATED_BY, DATA_ORG_ID, MAIN_ID
    </sql>

</mapper>
