<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.system.mapper.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sg.system.entity.User">
		<id column="id" property="id" />
		<result column="account" property="account" />
		<result column="real_name" property="realName" />
		<result column="gender" property="gender" />
		<result column="mobile_number" property="mobileNumber" />
		<result column="email" property="email" />
		<result column="position" property="position" />
		<result column="department" property="department" />
		<result column="status" property="status" />
		<result column="head_portrait_url" property="headPortraitUrl" />
		<result column="deleted" property="deleted" />
		<result column="created_by" property="createdBy" />
		<result column="created_at" property="createdAt" />
		<result column="updated_by" property="updatedBy" />
		<result column="updated_at" property="updatedAt" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="UserQuerySql">
        id, account, real_name, gender, mobile_number, email, position, department, status, head_portrait_url, deleted, created_by, created_at, updated_by, updated_at
    </sql>

	<select id="selectListAll" parameterType="com.sg.system.entity.User" resultMap="BaseResultMap">
		select
		<include refid="UserQuerySql"/>
		from user
		where 1=1
			<if test="id != null "> and id=#{id}</if>
			<if test="account != null  and account != ''"> and account=#{account}</if>
			<if test="realName != null  and realName != ''"> and real_name=#{realName}</if>
			<if test="gender != null "> and gender=#{gender}</if>
			<if test="mobileNumber != null  and mobileNumber != ''"> and mobile_number=#{mobileNumber}</if>
			<if test="email != null  and email != ''"> and email=#{email}</if>
			<if test="position != null  and position != ''"> and position=#{position}</if>
			<if test="department != null  and department != ''"> and department=#{department}</if>
			<if test="status != null "> and status=#{status}</if>
			<if test="headPortraitUrl != null  and headPortraitUrl != ''"> and head_portrait_url=#{headPortraitUrl}</if>
			<if test="deleted != null "> and deleted=#{deleted}</if>
			<if test="createdBy != null  and createdBy != ''"> and created_by=#{createdBy}</if>
			<if test="createdAt != null "> and created_at=#{createdAt}</if>
			<if test="updatedBy != null  and updatedBy != ''"> and updated_by=#{updatedBy}</if>
			<if test="updatedAt != null "> and updated_at=#{updatedAt}</if>
	</select>

	<select id="selectById" parameterType="int" resultMap="BaseResultMap">
		select
		<include refid="UserQuerySql"/>
		from user
		where id=#{id}
	</select>

	<insert id="insert" parameterType="com.sg.system.entity.User">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="id != null ">`id`,</if>
				<if test="account != null  and account != ''">`account`,</if>
				<if test="realName != null  and realName != ''">`real_name`,</if>
				<if test="gender != null ">`gender`,</if>
				<if test="mobileNumber != null  and mobileNumber != ''">`mobile_number`,</if>
				<if test="email != null  and email != ''">`email`,</if>
				<if test="position != null  and position != ''">`position`,</if>
				<if test="department != null  and department != ''">`department`,</if>
				<if test="status != null ">`status`,</if>
				<if test="headPortraitUrl != null  and headPortraitUrl != ''">`head_portrait_url`,</if>
				<if test="deleted != null ">`deleted`,</if>
				<if test="createdBy != null  and createdBy != ''">`created_by`,</if>
				<if test="createdAt != null ">`created_at`,</if>
				<if test="updatedBy != null  and updatedBy != ''">`updated_by`,</if>
				<if test="updatedAt != null ">`updated_at`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="id != null ">#{id},</if>
				<if test="account != null  and account != ''">#{account},</if>
				<if test="realName != null  and realName != ''">#{realName},</if>
				<if test="gender != null ">#{gender},</if>
				<if test="mobileNumber != null  and mobileNumber != ''">#{mobileNumber},</if>
				<if test="email != null  and email != ''">#{email},</if>
				<if test="position != null  and position != ''">#{position},</if>
				<if test="department != null  and department != ''">#{department},</if>
				<if test="status != null ">#{status},</if>
				<if test="headPortraitUrl != null  and headPortraitUrl != ''">#{headPortraitUrl},</if>
				<if test="deleted != null ">#{deleted},</if>
				<if test="createdBy != null  and createdBy != ''">#{createdBy},</if>
				<if test="createdAt != null ">#{createdAt},</if>
				<if test="updatedBy != null  and updatedBy != ''">#{updatedBy},</if>
				<if test="updatedAt != null ">#{updatedAt},</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.sg.system.entity.User">
		update  user
		<trim prefix="SET" suffixOverrides=",">
				<if test="id != null ">`id`=#{id},</if>
				<if test="account != null  and account != ''">`account`=#{account},</if>
				<if test="realName != null  and realName != ''">`real_name`=#{realName},</if>
				<if test="gender != null ">`gender`=#{gender},</if>
				<if test="mobileNumber != null  and mobileNumber != ''">`mobile_number`=#{mobileNumber},</if>
				<if test="email != null  and email != ''">`email`=#{email},</if>
				<if test="position != null  and position != ''">`position`=#{position},</if>
				<if test="department != null  and department != ''">`department`=#{department},</if>
				<if test="status != null ">`status`=#{status},</if>
				<if test="headPortraitUrl != null  and headPortraitUrl != ''">`head_portrait_url`=#{headPortraitUrl},</if>
				<if test="deleted != null ">`deleted`=#{deleted},</if>
				<if test="createdBy != null  and createdBy != ''">`created_by`=#{createdBy},</if>
				<if test="createdAt != null ">`created_at`=#{createdAt},</if>
				<if test="updatedBy != null  and updatedBy != ''">`updated_by`=#{updatedBy},</if>
				<if test="updatedAt != null ">`updated_at`=#{updatedAt},</if>
		</trim>
		where id=#{id}
	</update>


	<delete id="deleteById" parameterType="int">
		delete from user
		where `id`=#{id}
	</delete>

	<delete id="deleteByIds" parameterType="String">
		delete from user where find_in_set(`id`,#{ids})
	</delete>

	<insert id="saveForeach" parameterType="java.util.List" useGeneratedKeys="false">
		insert into user
		<trim prefix="(" suffix=")" suffixOverrides=",">
		`id`,
		`account`,
		`real_name`,
		`gender`,
		`mobile_number`,
		`email`,
		`position`,
		`department`,
		`status`,
		`head_portrait_url`,
		`deleted`,
		`created_by`,
		`created_at`,
		`updated_by`,
		`updated_at`,
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator=",">
		<trim prefix="(" suffix=")" suffixOverrides=",">
		#{item.id},
		#{item.account},
		#{item.realName},
		#{item.gender},
		#{item.mobileNumber},
		#{item.email},
		#{item.position},
		#{item.department},
		#{item.status},
		#{item.headPortraitUrl},
		#{item.deleted},
		#{item.createdBy},
		#{item.createdAt},
		#{item.updatedBy},
		#{item.updatedAt},
		</trim>
		</foreach>
	</insert>

</mapper>
